{% extends "viral_growth_app/base.html" %}
{% load static %}

{% block title %}
    <title>Sign up</title>
{% endblock title %}

{% block imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/sign_up.css' %}">
{% endblock imports %}

{% block content %}
    <div class="container main_container" >
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group input_field">
                <label for="email">Email</label>
                {{ form.email }}

                {% for key, value in form.errors.items %}
                    {% if key == 'email' %}
                        <div class="validation_error">
                            {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username }}

                {% for key, value in form.errors.items %}
                    {% if key == 'username' %}
                        <div class="validation_error">
                            {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password }}

                {% for key, value in form.errors.items %}
                    {% if key == 'password' %}
                        <div class="validation_error">
                            {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirm password</label>
                {{ form.confirm_password }}

                {% for key, value in form.errors.items %}
                    {% if key == 'confirm_password' %}
                        <div class="validation_error">
                            {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="messages"></div>
            <button type="submit" class="btn btn-primary center_block" id="sign_up_button">Sign up</button>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'js/sign_up.js' %}"></script>
{% endblock content %}