.avatar {
    vertical-align: middle;
    width: 100%;
    border-radius: 50%;
}

.center_element{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upload_container{
    padding-top: 30px;
}

#main_container {
    padding-top: 2%;
}

#upload_button{
    width: 100%;
}

#username_container{
    padding-bottom: 20px;
}

#username{
    text-align: center;
}

#invited_info{
    padding-top: 30px;
}

.overflow{
    height: 90%;
    overflow: visible;
    overflow-y:scroll;
    position:relative;
    margin: 10px;
}

.info_container{
    height: 200px;
    width: 100%;
    border-color: #343a40;
    border-style: ridge;
    border-radius: 8px;
}

.edit_button{
    float: right;
    padding-top: 10px;
    width: 100%;
}

.upload_photo_button_container{
    float: left;
    padding-top: 10px;
    width: 100%;
}

#upload_photo_button{
    width: 100%;
}

#edit_info_button{
    width: 100%;
}

.model_container {
    padding-top: 5%;
}

#profile_change_container{
    padding-top: 10px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

#profile_change_form{
    width: 100%;

}

.change_item{
    padding-right: 5px;
    padding-left: 5px;
}