.main_container {
    padding-top: 10%;
    width: 40%;
}

.validation_error {
    color: red;
}

#sign_up_button {
    float: center;
}

.center_block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reveal_password{
    width: 100%;
}

#reveal_confirm_password{
    width: 100%;
}